#jobs-section {
    text-align: center;
    padding: 50px 0;
    background-color: #d4d6db;
}

.carousel-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 640px; /* Tamanho máximo do carrossel */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10.8px;
    will-change: transform;
}

.job-box {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.proj1 {
    background-image: url('../img/IMG_0327.JPG');
}

.proj2 {
    background-image: url('../img/usa2.jpg');
}

.proj3 {
    background-image: url('../img/usa1.JPG');
}

.proj4 {
    background-image: url('../img/IMG_0319.JPG');
}

.proj5 {
    background-image: url('../img/IMG_0320.jpg');
}

.proj6 {
    background-image: url('../img/IMG_0444.JPG');
}

.proj7 {
    background-image: url('../img/IMG_0438.JPG');
}

.proj8 {
    background-image: url('../img/IMG_7846.GIF');
}

/* Botões de navegação */
.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}
